body {
  background-color: aliceblue;
}

h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  font-size: 26px;
}

h1, li {
  font-family: sans-serif;
  font-weight: normal;
  color: lightblue;
}

img {
  height: calc(13vh + 2vw);
  display: block;
  padding: 0;
  margin-bottom: -5em !important;
  box-shadow: 0px 0px 15px #afb4af;
}

#img-0 {
  margin-left: 5vh;
}

#img-1 {
  margin-left: auto;
  margin-right: 5vw;
}

#img-2 {
  margin: auto;
}

#img-3 {
  margin-right: auto;
  margin-left: 35vh;
}

#img-4 {
  margin: auto;
  margin-right: 35vw;
}

#img-5 {
  margin: auto;
  margin-right: 15vw;
}

#img-6 {
  margin: auto;
}

#img-7 {
  margin-right: auto;
}

#img-8 {
  margin-left: 20vw;
}

#img-9 {
  margin: auto;
  margin-right: 30vh;
}

#img-10 {
  margin-left: auto;
}

#img-11 {
  margin: auto;
}
