html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title, .content {
  border: 1px solid transparent;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

p, h1, h2, h3, h4, h5, h6, th, td, li, ul, ol{
  font-size: 20px;
  line-height: 1.25em;
  margin: 0;
  font-weight: 300;
}

header p, .footer p {
  font-size: 1em;
}

header {
  width: 100%;
  position: fixed;
  top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
header a, .footer a {
  color: inherit;
  text-decoration: none;
}
header a:hover, .footer a:hover {
  text-decoration: underline;
  font-style: normal;
}
a {
  color: black;
}
a:hover {
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  align-items: center;
  justify-content: center;
}

.title {
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}

.title h1 {
  line-height: 1em;
  font-size: 6em;
}
#alloy {
  font-family: 'PP Neue Montreal', Helvetica, Arial, sans-serif;
  font-size: 5.75em;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
#feral {
  font-family: 'PP Fragment Serif', Times, serif;
  font-weight: 400;
}
#paper {
  font-family: 'Times Now', Times, serif;
  font-weight: 600;
}
.title h2 {
  font-weight: normal;
}
.title p {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
}

.content {
  margin: 0;
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
}

p {
  font-weight: 300;
  padding-bottom: 1em;
}

a {
  color: black
}

.super {
  font-size: 0.83em;
  font-style: italic;
  letter-spacing: -0.02em;
}

.foreword {
  /* font-style: italic; */
  font-family: mono;
  margin: 0 auto 4em auto;
  color: #333333;
}
.foreword p {
  font-style: italic;
}
.foreword p em {
  font-style: normal;
}

h5 {
  margin-top: 5em;
  text-align: center;
}

.inline-img {
  display: inline block;
  /* float: right; */
  position: absolute;
  height: 7em;
  width: auto;
  z-index: -1;
  opacity: 0.2;
  outline: 1px solid black;
  outline-offset: 5px;
}
