p {
  font-size: 16px;
  line-height: 1.5em;
  font-family: "PP Fragment Sans", sans-serif;
  font-weight: 300;
}
h5 {
  font-family: "PP Fragment Sans", sans-serif;
  font-style: italic;
}

h2 {
  font-size: 5em;
  font-weight: normal;
  letter-spacing: -0.05em;
  line-height: 1.1em;
  font-family: "Steps Mono", sans-serif;
  font-weight: 400;
  /* color: #FF431A; */
}

a {
  /* color: #FF431A; */
}

.super {
  font-size: 0.83em;
  font-style: italic;
  letter-spacing: -0.02em;
}

.foreword {
  font-style: italic;
  font-weight: 600;
  color: #333333;
}
.foreword p em {
  font-style: normal;
}
