.container {
  position: absolute;
  height: auto;
  /* width: 100%; */

  display: flex;
  flex-direction: row;
  padding: 2em;
  column-gap: 1em;
}

.section {
  flex: 1 1 0;
  height: 100%;
  width: 100%;
}
