p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: -0.008em;
  margin: 0;
  margin-bottom: 0.5em;

  font-family: sans-serif;

  hyphens: auto
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.25em;
  font-weight: normal;
  letter-spacing: 0.02em;
}

h3 {
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  font-weight: normal;
  font-style: italic;
}

h2, h3 {
  color: blue;
}

.link {
  /* font-size: 0.85em; */
  text-decoration: line-through;
  text-decoration-color: red;
}
.link:hover {
  background-color: red;
  color: transparent;
  text-decoration: none;
}
