html, body, main {
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* * { */
/*   border: 1px solid blue; */
/* } */

body {
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, th, td, li, ul, ol{
  font-size: 1.5em;
  line-height: 1.25em;
  letter-spacing: -0.001em;
  margin: 0;
  font-weight: 300;
}

header p, .footer p {
  font-size: 1em;
}

header {
  width: 100%;
  position: fixed;
  top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 2;
}
header a, .footer a {
  color: inherit;
  text-decoration: none;
}
header a:hover, .footer a:hover {
  text-decoration: underline;
  font-style: normal;
  color: black;
}
a {
  color: black;
  text-decoration-thickness: 0.05em;
}
a:hover {
  /* font-style: italic; */
  color: #DDC6A7;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  align-items: center;
  justify-content: center;
}

.title {
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}

.title h1 {
  line-height: 1em;
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

#alloy .background-image {
  background-image: url("../img/alloy-background.jpg");
}
#alloy h1 {
  font-family: 'PP Neue Montreal', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
#feral h1 {
  font-family: 'PP Fragment Glare', Times, serif;
  font-weight: 500;
}
#paper h1 {
  font-family: 'Times Now', Times, serif;
  font-weight: 300;
  letter-spacing: -0.02em;
}
.title h2 {
  font-weight: normal;
}
.title p {
  font-size: 1em;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
}

.content {
  margin: 0;
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  .title h1 {
    font-size: 4em;
  }
}

p {
  font-weight: 300;
  padding-bottom: 1em;
}

a {
  color: black
}

.super {
  font-size: 0.83em;
  font-style: italic;
  letter-spacing: -0.02em;
}

.foreword {
  /* font-style: italic; */
  font-family: mono;
  margin: 0 3em 4em 3em;
  color: #333333;
}
.foreword p {
  font-style: italic;
}
.foreword p em {
  font-style: normal;
}

h5 {
  margin-top: 5em;
  font-size: 1em;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .content, .title {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  #alloy h1 {
    font-size: 3em;
  }
  #feral h1, #paper h1{
    font-size: 4.5em;
  }
  .foreword {
    margin-left: 0;
    margin-right: 0;
  }
  p {
    font-size: 1.4em;
  }
}

.inline-img {
  margin-left: 0.125em;
  margin-top: 0.2em;
  display: inline;
  position: absolute;

  height: 10em;
  width: auto;
  opacity: 0.2;
  transition: 0.35s;

  border: 4px solid transparent;

  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.inline-img:hover {
  opacity: 1.0;
  transition: 0.4s;
  border: 4px solid black;
  filter: none;
  -webkit-filter: none;
}
.arrow::before {
  content: " →";
  font-size: 0.8em;
  color: #DDC6A7;
}

@media screen and (max-width: 800px) {
  .inline-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 15em;
    height: auto;
  }
  .arrow::before {
    content: " ↓";
    font-size: 1em;
  }
}

#alloy-background {
  background-color: #f6bd16;
}
#feral-background {
  background-color: #598868;
}
#paper-background {
  background-color: #a9a9a0;
}
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
